@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: #222222;
    margin: 0;
    font-family: "Barlow", sans-serif;
    width: 100%;
    font-size: 100%; 
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #ca3c3f;
}

.header {
    width: auto;
    text-align: center;
    padding: 0;
    margin-top: 5rem; 
}

.menu {
    width: auto;
    text-align: center;
    font-weight: bold;
}

.menu-links {
    list-style: none;
    padding: 0;
}

.menu-links li {
    display: inline-block;
    padding: 0 1.25rem; 
}

.banner {
    width: 100%;
    text-align: center;
}

.banner p {
    font-size: 2.5rem; 
    text-align: left;
    padding-left: 6.25rem; 
    padding-right: 6.25rem; 
}

.banner img {
    width: 90%;
}

.coluna {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.botao {
    border: 0.0625rem solid #333333; 
    border-radius: 2.5rem; 
    padding: 1.25rem; 
    font-size: 1.25rem; 
}

.cardapio {
    box-sizing: border-box;
    border-top: 0.0625rem dashed #999999; 
    width: 100%;
    margin: auto;
    max-width: 43.75rem; 
    text-align: center;
    margin-top: 6.25rem; 
    padding: 3.125rem 0.9375rem 0.625rem 0.9375rem; 
}

.cardapio-categoria {
    text-align: left;
    color: #ca3c3f;
    font-size: 1.375rem; 
    margin-top: 3.125rem; 
}

.cardapio-item {
    padding-top: 1.25rem; 
    text-align: left;
    width: 100%;
}

.cardapio-nome {
    display: inline-block;
    font-size: 1.125rem; 
    font-weight: bold;
}

.cardapio-preco {
    font-size: 1.125rem; 
    float: right;
    color: #ca3c3f;
}

.cardapio-descricao {
    font-size: 0.75rem; 
    color: #999999;
}

footer {
    margin-top: 6.25rem;
    width: auto;
    text-align: center;
    padding: 3.125rem; 
    font-size: 0.875rem; 
    color: #fff;
    background-color: #333333;
}

footer p {
    margin: 0.1875rem; 
}

.link-whatsapp img {
    width: 2.5rem; 
    position: fixed;
    right: 1.25rem; 
    bottom: 1.25rem; 
}

@media (max-width: 56.25em) { 
    .coluna {
        width: 100%;
        vertical-align: middle;
        margin-bottom: 1.875rem;
    }

    .banner p {
        font-size: 1.625rem; 
        text-align: center;
        padding-left: 3.125rem; 
        padding-right: 3.125rem; 
    }
}
